[submodule "a-star-pathfinding"]
	path = a-star-pathfinding
	url = https://github.com/jurgendl/a-star-pathfinding
[submodule "traveling-salesman"]
	path = traveling-salesman
	url = https://github.com/jurgendl/traveling-salesman
[submodule "binary-tree"]
	path = binary-tree
	url = https://github.com/jurgendl/binary-tree
[submodule "jhaws"]
	path = jhaws
	url = https://github.com/jurgendl/jhaws
[submodule "hql-builder"]
	path = hql-builder
	url = https://github.com/jurgendl/hql-builder
[submodule "rpg-toolbag"]
	path = rpg-toolbag
	url = https://github.com/jurgendl/rpg-toolbag
[submodule "w40k"]
	path = w40k
	url = https://github.com/jurgendl/w40k
[submodule "valheim-food"]
	path = valheim-food
	url = https://github.com/jurgendl/valheim-food
[submodule "w40k-inquisitor-martyr"]
	path = w40k-inquisitor-martyr
	url = https://github.com/jurgendl/w40k-inquisitor-martyr
[submodule "bootstrap-angular"]
	path = bootstrap-angular
	url = https://github.com/jurgendl/bootstrap-angular
[submodule "7d2d-helpers"]
	path = 7d2d-helpers
	url = https://github.com/jurgendl/7d2d-helpers
[submodule "vite-seed"]
	path = vite-seed
	url = https://github.com/jurgendl/vite-seed
[submodule "webpack-seed"]
	path = webpack-seed
	url = https://github.com/jurgendl/webpack-seed
[submodule "enshrouded-food"]
	path = enshrouded-food
	url = git@github.com:jurgendl/enshrouded-food.git
[submodule "htmx-example"]
	path = htmx-example
	url = git@github.com:jurgendl/htmx-example.git
